@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    height: 66px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    font: 20px;
    cursor: pointer;
}

.icon-box i{
    font-size: 18px;
    /* margin-bottom: 5px; */
    color: #333;
}

.right-box{
        display: flex;
        margin: 12px;
        align-items: center;
        justify-content: center;
    }

.left img {
    width: 32px;
    height: 32px;
}

.container {
    margin: 13px 0px;
    padding: 0 10vw;
    margin: auto;
}

nav {
    font-size: 12px;
    padding-top: 14px;
}

nav ul li {
    list-style: none;
    padding: 0 12px;
}

.section1 {
    background-color: #f7f7fa;
    /* height: 122vh; */
}

.Search {
    width: 20vw;
    padding: 7px 17px;
    background-color: rgb(245, 242, 242);
    border-radius: 1.5px;
    border: none;
}

.homeImg {
    width: 80vw;
    /* margin: 12px 0; */
}

.itemImg {
    /* width: 10vw;
    margin: 8px 7px */
    width: 13.3vw;
    margin: 15px 0px;
}

footer {
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tall{
    min-height: 20vh;
}
footer{
    font-size: 12px;
    color: rgb(43, 42, 42);
}

/* @media(max-width:1550px) {
    nav ul li{
        list-style: none;
        padding: 0 4px;
        font-size: 4px;
    }

    .containerHeader{
        padding: 0 2vw;
    }

    header {
        height: 122px;
    }
    nav{
        flex-direction: column;
    align-items: center;
    }
    .right{
        flex-direction: column;
         display: flex;
        margin: 12px; 
    }
    .right-box{
        display: flex;
        margin: 12px;
    }
}  */